@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
}

/* prima riga prodotti Abbigliamento */

.card {
    width: 480px;
    height: 770px;
    display: inline-block;
}

.card-top {
    width: 480px;
    height: 690px;
    position: relative;
}

.card-bottom {
    width: 480px;
    height: 80px;
    margin-top: 10px;
}

/* symbol heart */

.heart {
    width: 50px;
    height: 50px;
    background-color: #fff;
    margin-top: 20px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

/* Desc. sales */

.sale {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 0;  
}

.discount, .eco {
    padding: 5px;
}

.discount {
    background-color: #eb0037;
}

.eco {
    background-color: #00875a;
}

/* Descrizione del prodotto e prezzo*/

.card-bottom h5 {
    font-weight: 300;
}

.price {
    font-size: 14px;
}

.price.red {
    color: #ff0000;
    font-weight: 700;
}

.price.bar {
    text-decoration: line-through;
   
}